* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
      width: 100%;
  max-width: 100vw;
   
    overflow-x: hidden;
}
body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Outfit';
    background-color: #F4F7F9;
}